<ion-view view-title="Contacts">
  <ion-content>
<div class="bootstrap-iso">
<div class="panel panel-default">
  <div class="panel-heading">Company Address</div>
  <div class="panel-body">
  Vrijheidweg 4<br>
  3700 Tongeren
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Contact Number</div>
  <div class="panel-body">
   
   <ul class="list-group">
  <li class="list-group-item">
    <span class="pull-right"><a href="tel:+3222900900">022 900 900</a></span>
    Sales Department
  </li>
  <li class="list-group-item">
    <span class="pull-right"><a href="tel:+3222900900">022 900 900</a></span>
    Finance Deparment
  </li>
  <li class="list-group-item">
    <span class="pull-right"><a href="tel:+3222900900">022 900 900</a></span>
    Technical Support
  </li>

    <li class="list-group-item">
    <span class="pull-right"><a href="tel:+3222900900">022 900 900</a></span>
    Installation Appointment
  </li>

    <li class="list-group-item">
    <span class="pull-right"><a href="tel:+3222900900">012 77 00 33</a></span>
    Development 
  </li>
</ul>
  </div>
</div>

</div>
  </ion-content>
</ion-view>